@import "src/theme/theme-variables";

//.navbar {
//  margin-bottom: $spacer;
//}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.nav-item{
  color: black;
}

.nav-item-mobile {
  color:black;
  /* Extra small devices (phones, up to 480px) */
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
