.nav-link.dropdown-toggle {
  cursor: pointer;
}

.nav-item{
  color: black;
  &.mobile {
    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }
}

.intro {
  padding-bottom: 2rem;
}

.double-font-size {
  font-size: 200%;
}
