<div class="col-12 d-none d-lg-block">
  <div class="row col-12">
  <a class="col-6 nav-item text-center text-uppercase" routerLink="/home" routerLinkActive="active">
      <span translate>Home</span>
    </a>
    <a class="col-6 nav-item text-center text-uppercase" routerLink="/blog" routerLinkActive="active">
      <span translate>Blog</span>
    </a>
  </div>
</div>

<div class="col-12 text-center d-lg-none">
  <div class="row col-12">
    <a class="col-6 nav-item mobile text-center text-uppercase" routerLink="/home" routerLinkActive="active">
      <span class="double-font-size">Home</span>
    </a>
    <a class="col-6 nav-item mobile text-center text-uppercase" routerLink="/blog" routerLinkActive="active">
      <span class="double-font-size">Blog</span>
    </a>
  </div>
</div>