<nav class="col-12 navbar navbar-expand-lg no-gutters">
  <div class="col-10 offset-1 d-none d-xl-block">
    <div class="row">
      <!--<div class="col-4">-->
        <!--<div class="time">{{serverTime  | date: 'medium'}}</div>-->
      <!--</div>-->
      <!--<div class="col-6"></div>-->
      <!--<div class="col-2">-->
        <div class="col-12 navbar-nav text-center">
          <a class="col-6 nav-item text-uppercase" routerLink="/home" routerLinkActive="active">
            <span translate>Home</span>
          </a>
          <a class="col-6 nav-item text-uppercase" routerLink="/blog" routerLinkActive="active">
            <span translate>Blog</span>
          </a>
        </div>
      </div>
    <!--</div>-->
  </div>

  <div class="col-12 text-center d-xl-none">
    <div class="row col-12">
      <!--<div class="double-font-size time col-4 nav-item-mobile">{{serverTime  | date: 'medium'}}</div>-->
      <a class="col-6 nav-item-mobile text-uppercase" routerLink="/home" routerLinkActive="active">
        <span class="double-font-size">Home</span>
      </a>
      <a class="col-6 nav-item-mobile text-uppercase" routerLink="/blog" routerLinkActive="active">
        <span class="double-font-size">Blog</span>
      </a>
    </div>
  </div>

</nav>

<!--<div class="row col-12 no-gutters text-center intro">-->
  <!--<div class="header col-8 offset-2">-->
    <!--<span>Automate.</span>-->
  <!--</div>-->
<!--</div>-->

