<div class="row col-12 no-gutters jumbotron">
    <span class ="text-left" translate>
      Full stack developer with experience developing and maintaining Spring APIs hosted on AWS services, mobile and web development,
      large-scale scripting efforts, and database administration and maintenance across various data stores. Passionate and focused in
      finding effective, efficient, and novel solutions to problems at hand. Supportive and team oriented with an eye for detail and a
      discipline for testing.
    </span>
    <img class="headshot" src="assets/me.jpg"/>
</div>

