<div class="row col-12 no-gutters text-center intro">
    <div class="col-8 offset-2">
        <span>Automate Everything.</span>
    </div>
</div>

<div class="row col-12 no-gutters text-center mainBox">

    <br><br>
    <div class="col-12 text-center">
        <div class="col-12 tile">
            <div class="text-left">July 15, 2018</div>
            <header class="title">Some Thoughts on AI</header>
            <br>
            <div class="col-12 col-lg-10 offset-lg-1 text-left">
                <br>
                    At the moment, to me "AI" seems like a method for using training data to carve out essentially vinyl disks of models that fit some types of behavior, classification, etc.
                It's a great step since the logic we are writing is now slightly more organic and not generated manually. However, some current limitations of these models seem to be that they
                are brittle and not able to generalize themselves. The output is very correlated to the input which is usually tailor made for a specific function. This is all well and
                good when you know the input is going to conform to this training set. However, it is limited to how it was trained and doesn't seem to be able to connect to other
                models very well.
                <p> <p>
                    The way I see it, we need a Linux like architecture where everything is like a file and all the models share some abstract structure that allows them to interact with
                each other. This means that messages passed between them need some common language or at the very least, interpreters so they can talk. The only way to create a complex
                system is to have complex organs that work together and communicate through some type of nervous system.
                <p>
                    So today we have all these great models that are trained deeply to fit a very specific world. We're essentially back in the expert AI days except now we are training
                the models using machine learning instead of painstakingly writing the code. This is no doubt a huge step forward in that domain but it doens't seem to yet touch the
                holy grail of AI research which is more generalized intelligence.
                <p>
                    I think in order to reach such a stage we need to move on the path that has been trailblazed by minds such as Douglas Hofstadter. He believes that the power of analogy
                is an integral part of general intelligence. This seems to make sense to me as it generalizes messy input from the world around us in ways that random information systems
                in our head can connect the processed information and logical structures (methods if you will). This might be the glue that allows the complexity needed to create
                a dynamic, general, learning system.
                <p>
                To get a more technical understanding of this idea I recommend his books: Fluid Concepts and Creative Analogies and I Am a Strange Loop. His thoughts on feedback loops and creating
                generalized
                <div class="col-6 offset-3">
                    <div class="col-6 offset-3">
                        <img class="loop-img" src="loop.jpg"/>
                    </div>
                </div>
                <p>
                information processing systems are fantastic. The guy really appears to have been thinking in a different direction than his contemporaries. Granted, the ideas may take more basic research
                to get off the ground than current systems, but I have a feeling that some amazing things will come out of bridging the gap between current ML and these more organic ways of developing
                cognition.
                <p><p>
                I like to think of ML as foundationally important since in my mind I see it as our first successful attempt at creation some type of machine perception/intuition.
                    I think our possible current mistake is focusing on ML as the end all when it may just be a foundational tool. We can harness its power to filter out some of the static of the
                    real world into more understandable concepts that can then be processed by some other systems. Hofstadter believes that the structures of information processing should be liquid, not hard
                and brittle, and I have to agree with him there. It would seem to me that there is some amorphous logic cloud slipping and sliding effortlessly into patterns as we experience the world around us.
                Now that sounds like more of a soul than the rigid pattern processing technology of today.
            </div>
        </div>
    </div>
</div>

<div class="col-12 row contact">
    <div class="col-4 text-center">
        <br>
        eorndahl@gmail.com
    </div>
    <div class="col-4 text-center">
        <br>
        404-550-5358
    </div>
    <div class="col-4 text-center">
        <br>
        Powered by <a href="https://github.com/ngx-rocket">ngX-rocket</a>
        <img class="logo" src="ngx-rocket-logo.png" alt="angular logo"/>
    </div>
</div>




