<div class="col-12 row contact">
  <div class="col-3 text-center">
    eorndahl@gmail.com
  </div>
  <div class="col-3 text-center">
    <a href="https://github.com/ErikThorsson" class="col-12">https://github.com/ErikThorsson</a>
  </div>
  <div class="col-3 text-center">
    <img class="icon linked" src="linked.png"><a href="https://linkedin.com/in/erik-orndahl-170633116"> LinkedIn</a>
  </div>
  <div class="col-3 text-center">
    Powered by <a href="https://github.com/ngx-rocket">ngX-rocket</a>
    <img class="logo" src="ngx-rocket-logo.png" alt="angular logo"/>
  </div>
</div>