<div class="row col-12 no-gutters text-center intro">
<div class="col-8 offset-2">
  <span>Automate Everything.</span>
</div>
</div>

<div class="row col-12 no-gutters text-center mainBox">

  <br><br>
  <div class="col-12 text-center">

    <div class="col-12 tile">
      <div class="text-left">July 15, 2018</div>
      <a class="title" routerLink="/postTwo">Some Thoughts on AI</a>
        <br><br>
            At the moment, to me "AI" seems like a method for using training data to carve out essentially vinyl disks of models that fit some types of behavior, classification, etc.
            It's a great step since the logic we are writing is now slightly more organic and not generated manually. However, some current limitations of these models seem to be that they
            are brittle and not able to generalize themselves. The output is very correlated to the input which is usually tailor made for a specific function. This is all well and
            good when you know the input is going to conform to this training set. However, it is limited to how it was trained and doesn't seem to be able to connect to other
            models very well...
        <br>
    </div>

    <div class="col-12 tile bottom">
      <div class="text-left">June 23, 2018</div>
      <a class="title" routerLink="/postOne">Explorations with the Intel RealSense D415 Depth Camera</a>
      <span><br>Unfiltered depth video in the coffee shop.</span>
          <div class="col-6 offset-3">
                <img class="vid-img" src="cafe_depth.PNG"/>
          </div>
      <br>
    </div>

  </div>
</div>

<div class="col-12 row contact">
  <div class="col-3 text-center">
    eorndahl@gmail.com
  </div>
  <div class="col-3 text-center">
    <a href="https://github.com/ErikThorsson" class="col-12">https://github.com/ErikThorsson</a>
  </div>
  <div class="col-3 text-center">
    <img class="icon linked" src="linked.png"><a href="https://linkedin.com/in/erik-orndahl-170633116"> LinkedIn</a>
  </div>
  <div class="col-3 text-center">
    Powered by <a href="https://github.com/ngx-rocket">ngX-rocket</a>
    <img class="logo" src="ngx-rocket-logo.png" alt="angular logo"/>
  </div>
</div>
<router-outlet></router-outlet>
