<div class="row col-12 no-gutters text-center">

  <br><br>
  <div class="col-12 text-center">
      <div class="col-12 tile">
          <div class="date text-left">August 5, 2018</div>
          <a class="title" routerLink="/postFour">Finance, Trading, and TSLA memes</a>
          <p>
          Over the past year I have gained a new-found appreciation for finance and the many markets of the world. It's a living breathing ecosystem and one truly
          has to be an expert in whatever neck of the woods they venture into. On top of that, the various financial instruments available make these ecosystems rich
          and complex. If I was to extend the analogy for finance/investing as a whole, there really do seem to be many parallels between it and life itself in many ways.
          At it's most basic level, it is simply the systems that society uses to distribute resources within itself - a kind of cardiovascular system for the world.
          The more complex nuances of this world are more nervous system like and contain logic that makes the money more intelligently moved...
          </p>
      </div>

      <div class="col-12 tile">
          <div class="date text-left">July 28, 2018</div>
          <a class="title" routerLink="/postThree">Riding the Crypto Coaster</a>
          <p>
          I was first introduced to the concept of trading as I'm sure many are - a burst of unusual market euphoria resulting in what we call a market bubble.
          I heard murmurs of its onset in the fall of 2016 with coworkers casually mentioning their eccentric friends putting money into this thing called Bitcoin.
          I shrugged it off as I had over the years as some oddity who's only real use was for black market transactions, hacker's ransoms and the like. Why should
          we abandon the tried and true national fiat currencies to become our own bank? Plus on a daily basis, the thing was eating enormous amounts of energy
          (<a href="https://qz.com/1281850/bitcoins-energy-consumption-is-as-much-a-year-as-all-of-ireland-says- the-first-peer-reviewed-study-on-the-subject">some
          say as much yearly as Ireland</a>) to give the network like 7 transactions per second. It felt ethically wrong to support the thing.
          </p>
      </div>

    <div class="col-12 tile">
      <div class="date text-left">July 15, 2018</div>
      <a class="title" routerLink="/postTwo">Some Thoughts on AI</a>
        <p>
            At the moment, to me "AI" seems like a method for using training data to carve out essentially vinyl disks of models that fit some types of behavior, classification, etc.
            It's a great step since the logic we are writing is now slightly more organic and not generated manually. However, some current limitations of these models seem to be that they
            are brittle and not able to generalize themselves. The output is very correlated to the input which is usually tailor made for a specific function. This is all well and
            good when you know the input is going to conform to this training set. However, it is limited to how it was trained and doesn't seem to be able to connect to other
            models very well...
        </p>
    </div>

    <div class="col-12 tile bottom">
      <div class="date text-left">June 23, 2018</div>
      <a class="title" routerLink="/postOne">Explorations with the Intel RealSense D415 Depth Camera</a>
      <span><br>Unfiltered depth video in the coffee shop.</span>
          <div class="col-6 offset-3 d-none d-md-block">
            <img class="vid-img" src="cafe_depth.PNG"/>
          </div>
          <img class="vid-img d-md-none" src="cafe_depth.PNG"/>
      <br>
    </div>
  </div>
</div>