<div class="row col-12 no-gutters text-center intro">
  <div class="col-8 offset-2">
    <span>Automate Everything.</span>
  </div>
</div>

<div class="row col-12 no-gutters mainBox">
  <div class="col-12 col-lg-8 offset-lg-2">
    <span class ="text-left" translate>
      Hey there! I'm a full stack developer with experience developing Spring Boot microservices hosted on AWS, Angular web apps, IoT applications using MQTT, Python scripting,
      and database administration and maintenance across various data stores. I'm passionate and focused in finding effective, efficient, and novel solutions to problems at hand.
      I consider myself supportive and team oriented with an eye for detail and a discipline for testing.
    </span>
    <br><br>
    <img class="headshot centered d-none d-md-block" src="me.jpg"/>
    <img class="headshot mobile centered d-md-none" src="me.jpg"/>
    <br>
  </div>
</div>

<div class ="col-12 text-center img-tile">
  <br>
  Java&ensp;<i class="fab fa-java fa-3x"></i>&ensp;Python&ensp;<i class="fab fa-python fa-3x"></i>
  &ensp;AWS&ensp;<i class="fab fa-aws fa-3x"></i>&ensp;Spring Boot&ensp;<img class="icon" src="spring.svg">
  &ensp;Angular 6&ensp;<i class="fab fa-angular fa-3x"></i>&ensp;Bootstrap<img class="icon bootstrap" src="bootstrap.png">
  &ensp;MQTT<img class="icon mqtt" src="mqtt.png">
  <br><br>
</div>

<div class="row col-12 no-gutters mainBox">
  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="text-center"><b>Software Development – Chick-fil-A, Inc.</b></div>
    <div class="text-center">Experient Group Consultant</div>

    <br>
    <div class="text-center"><b>Capacity Innovation Pod</b></div>

    <li>
      Developed code for measuring the volume of objects with an Intel RealSense 3D camera.
    </li>

    <li>
      Developed an IoT diagnostic dashboard of devices with an Angular web app
      powered by a Spring Boot backend with an MQTT communication layer.
    </li>

    <li>
      Developed an Angular chrome extension that communicates with other devices via MQTT.
    </li>
    <br>
    <div class="text-center"><b>CFA One App</b></div>

    <br>
    <div class="experience-title text-left">Developed software for merging CRN customer accounts</div>
    <div class="experience-box">
      <li>One, A-List, and Cow Calendar</li>
      <li>Updated various data stores to achieve this: Dynamo DB, an LDAP Directory, and a third-party database</li>
    </div>

    <br>
    <div class="experience-title text-left">Enhanced the CFA One App email service API from AWS SES to MessageGears</div>
    <div class="experience-box">
    <li>
      Upgraded the Java code, converted the logic of HTML templates (from thymeleaf to freemarker), and
      moved the templates to a company-controlled MessageGears server for easier maintenance and for internal email processing.
    </li>
    </div>

    <br>
    <div class="experience-title text-left">Enhanced CFA One App requests to an external API with SQS functionality</div>
    <div class="experience-box">
    <li>
      Requests made more fault tolerant by sending them to a queue service for processing. This AWS service
      has built in retry logic in case of request timeout and stores unprocessed requests in case of external server downtime.
    </li>
    </div>

    <br>
    <div class="experience-title text-left">Created scripts for updating Loyalty Program databases</div>
    <div class="experience-box">
    <li>Created a daily cron job that updated rows in the Loyalty Program for analysis purposes</li>
    <li>Created a weekly cron job that synchronized data between the Dynamo Loyalty table and a third-party database.</li>
    </div>

    <br>
    <div class="experience-title text-left">Created an automated process for the 2017 CFA One September Mobile Order Giveaway</div>
    <div class="experience-box">
    <li>
      Loaded promotional treats onto 8,000,000+ CFA One accounts in the NCR Aloha loyalty program database.
    </li>
    <li>
      AWS Lambda scripts written in python to automatically import batches and to monitor the process to prevent strain on the servers.
    </li>
    </div>

    <br>
    <a href="resume.pdf" download><i class="far fa-file"></i> Resume</a>
  </div>
</div>

<div class="col-12 row contact">
  <div class="col-3 text-center">
    eorndahl@gmail.com
  </div>
  <div class="col-3 text-center">
    <a href="https://github.com/ErikThorsson" class="col-12">https://github.com/ErikThorsson</a>
  </div>
  <div class="col-3 text-center">
    <img class="icon linked" src="linked.png"><a href="https://linkedin.com/in/erik-orndahl-170633116"> LinkedIn</a>
  </div>
  <div class="col-3 text-center">
    Powered by <a href="https://github.com/ngx-rocket">ngX-rocket</a>
    <img class="logo" src="ngx-rocket-logo.png" alt="angular logo"/>
  </div>
</div>
<router-outlet></router-outlet>
