.mainBox {
  padding: 2rem 2rem 2rem 2rem;
  background-color: #e9ecef;
}

.headshot {
  width: 50%;
  display:block;
  margin:auto;

  &.mobile {
    width: 100%;
    display:block;
    margin:auto;
  }
}

.icon {
  width: 50px;

  display:inline-block;
  vertical-align: 0px;

  &.bootstrap {
    width: 80px;
    vertical-align: -15px;
  }

  &.mqtt {
    width: 55px;
    vertical-align: -10px;
  }

  &.linked {
    width: 25px;
    vertical-align: -5px;
  }
}

.experience-title {
  font-weight: bold;
}

.experience-box{
  li{
    margin-left: 20px;
  }
}
