.tile {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #e9ecef;
  &.bottom {
    margin-bottom: 0%;
  }

  &.intro-div {
    padding-bottom: 14rem;
  }
}

.headshot {
  width: 25%;
  display: block;
  margin: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .headshot  {
    width: 75%;
  }
}

.double-font-size {
  font-size: 200%;
}

.icon {
  width: 50px;
  display:inline-block;
  vertical-align: 0px;

  &.bootstrap {
    width: 80px;
    vertical-align: -15px;
    &.mobile {
      width: 200px;
    }
  }

  &.mqtt {
    width: 55px;
    vertical-align: -10px;
    &.mobile {
      width: 200px;
    }
  }

  &.linked {
    width: 25px;
    vertical-align: -5px;
  }

  &.mobile {
    width: 200px;
  }
}

.skillBox{
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

//.mobile-text {
//  margin-top: -200px;
//}

.experience-title {
  font-weight: bold;
}

.experience-box{
  li{
    margin-left: 20px;
  }
}

.button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: black;

  &.mobile {
    width: 25%;
  }
}

// only animate on screens that are ~tablet and above. not mobile
@media only screen and (min-width: 1000px) {
  .button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1); /* light overlay */
  }
}

@media only screen and (min-width: 1000px) {
  .button:active {
    box-shadow: 0px 2px 0px rgba(31, 36, 78, 1), 0px 2px 4px rgba(0, 0, 0, .9);
    top: 6px;
    transform: scale(0.9) translateY(3px);
  }
}

.mobile-buttons {
  display: flex;
  justify-content: center;
  height: 10%;
}


p {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.font {
  font-size: 20px;
  font-family: "Avenir Next";
}

@media only screen and (max-width: 1000px) {
  .font  {
    font-size: 36px;
  }
}

li {
  display: flex;
  font-size: 20px;
  font-family: "Avenir Next";
}

@media only screen and (max-width: 1000px) {
  li  {
    font-size: 36px;
  }
}

td {
  border: none;
  text-align:center;
  margin: 1rem 1rem 1rem 1rem;
}

p {
  text-indent: 2em;
  font-size: 20px;
  font-family: "Avenir Next";
}

@media only screen and (max-width: 1000px) {
  p  {
    font-size: 36px;
  }
}