<div class="row col-12 no-gutters text-center intro">
  <div class="col-8 offset-2">
    <!--<span class="name">Erik Orndahl</span>-->
    <!--<br>-->
    <span>Automate Everything.</span>
  </div>
</div>

<div class="row col-12 no-gutters text-center mainBox">

  <br><br>
  <div class="col-12 text-center">
    <div class="col-12 img-tile">
      <span class="col-12 title">Food Quality Timer (Chrome Extension)<br><br></span>
      <video autoplay muted loop id="myVideo">
        <source class="timer" src="timershort.mp4" type="video/mp4">
      </video>
      <!--<img class="photo" src="timer.png"/>-->
    </div>
    <div class="col-12 img-tile">
      <span class="col-12 title">Kitchen IoT Dashboard<br><br></span>
      <img class="photo" src="dash1.png"/>
    </div>
    <div class="col-12 img-tile bottom">
      <span class="col-12 title">Device Alert<br><br></span>
      <img class="photo" src="dash2.png"/>
    </div>
  </div>

</div>

<div class="col-12 row contact">
  <div class="col-4 text-center">
    <br>
    eorndahl@gmail.com
  </div>
  <div class="col-4 text-center">
    <br>
    404-550-5358
  </div>
  <div class="col-4 text-center">
    <br>
    Powered by <a href="https://github.com/ngx-rocket">ngX-rocket</a>
    <img class="logo" src="ngx-rocket-logo.png" alt="angular logo"/>
  </div>
</div>

