<div class="row col-12 no-gutters text-center">

<!--<div class="col-12 row tile">-->
      <!--&lt;!&ndash;desktop&ndash;&gt;-->
      <!--<div class="col-4 d-lg-block d-none">-->
      <!--<div class="font text-center">Erik Orndahl</div>-->
      <!--<div class="font text-center">Developer, Technologist</div>-->
        <!--<br>-->
        <!--<img class="headshot centered" src="me.jpg"/>-->
        <!--<br>-->
        <!--<div class="font text-center">Atlanta, GA</div>-->
      <!--</div>-->
    <!--<div class="col-8 d-lg-block d-none">-->
      <!--<p>-->
      <!--Erik is a full stack developer with experience developing and maintaining Spring Boot APIs hosted on AWS, Angular web apps, Python applications,-->
      <!--large-scale scripting efforts, and database administration and maintenance across various data stores. He is passionate and focused towards finding effective,-->
        <!--efficient, and novel solutions to problems at hand.-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->

  <div class="col-12 tile intro-div">
    <div class="col-12">
      <div class="font text-center">Erik Orndahl</div>
      <div class="font text-center">Developer, Technologist</div>
      <br>
      <img class="headshot centered" src="me.jpg"/>
      <br>
      <div class="font text-center">Atlanta, GA</div>
    </div>
    <br><br><br>
    <div class="d-lg-none">
      <br><br><br>
      <br><br><br>
      <br><br><br>
    </div>
    <div class="col-12">
      <p class="intro">
        Erik is a full stack developer with experience developing and maintaining Spring Boot APIs hosted on AWS, Angular web apps, Python applications,
        large-scale scripting efforts, and database administration and maintenance across various data stores. He is passionate and focused towards finding effective,
        efficient, and novel solutions to problems at hand.
      </p>
    </div>
  </div>

  <div class="col-12">
    <!--<div class="col-1 d-none d-lg-block">-->
      <!--<button class="button" (click)="showAll()">All&nbsp;Skills</button>-->
      <!--<button class="button" (click)="showWeb()">Web</button>-->
      <!--<button class="button" (click)="showBackend()">Backend</button>-->
      <!--<button class="button" (click)="showIoT()">IoT</button>-->
    <!--</div>-->

      <!--<div class="skillBox col-10 d-none d-lg-block">-->
        <!--&lt;!&ndash;<div class="col-8 offset-2">&ndash;&gt;-->
          <!--<table class="skillTable col-8 offset-2">-->
            <!--<tr class = "row" *ngFor="let skillRow of skillBox">-->

              <!--<td class = "row" *ngFor="let skill of skillRow" [ngStyle]="isInvisible(skill)">-->
                <!--<div [innerHTML]=skill></div>-->
              <!--</td>-->
            <!--</tr>-->
          <!--</table>-->
        <!--</div>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="col-1 d-none d-lg-block">-->
    <!--</div>-->

    <div class="col-12">
      <div class="mobile-buttons col-lg-6 offset-lg-3 col-12">
        <button class="button mobile" (click)="showAll()">All&nbsp;Skills</button>
        <button class="button mobile" (click)="showWeb()">Web</button>
        <button class="button mobile" (click)="showBackend()">Backend</button>
        <button class="button mobile" (click)="showIoT()">IoT</button>
      </div>

      <div class="skillBox col-12">
        <table class="skillTable">
          <tr class = "row" *ngFor="let skillRow of skillBox">
            <td class = "row" *ngFor="let skill of skillRow" [ngStyle]="isInvisible(skill)">
              <div [innerHTML]=skill></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 tile bottom">
  <!--<div class="full-screen row col-12 tile bottom d-lg-none">-->
    <!--<div class="col-6 offset-3 d-none d-lg-block">-->
      <!--<button class="button col-4 offset-4 text-center"(click)="showResume()">Click for Resume</button>-->
    <!--</div>-->
    <!--<div class="col-12 d-lg-none">-->
      <!--<button class="button col-4 offset-4 text-center"(click)="showResume()">Click for Resume</button>-->
    <!--</div>-->

        <div class="resume col-12 text-left">
          <div class="col-12 col-lg-8 offset-lg-2" [ngStyle] = "getResumeScreenStyle()">
            <br><br>
            <div class="text-center"><b>Software Development – Chick-fil-A, Inc.</b></div>
            <div class="text-center">Experient Group Consultant</div>

            <br>
            <div class="text-center"><b>Capacity Innovation Pod</b></div>

            <li>
              Developed code for measuring the volume of objects with an Intel RealSense 3D camera.
            </li>

            <li>
              Developed a diagnostic dashboard of IoT devices with an Angular web app
              powered by a Spring Boot backend with an MQTT communication layer.
            </li>

            <li>
              Developed an Angular chrome extension that communicates with other devices via MQTT.
            </li>
            <br>
            <div class="text-center"><b>CFA One App</b></div>

            <br>
            <div class="experience-title text-left">Developed software for merging CRN customer accounts</div>
            <div class="experience-box">
              <li>One, A-List, and Cow Calendar</li>
              <li>Updated various data stores to achieve this: Dynamo DB, an LDAP Directory, and a third-party database</li>
            </div>

            <br>
            <div class="experience-title text-left">Enhanced the CFA One App email service API from AWS SES to MessageGears</div>
            <div class="experience-box">
            <li>
              Upgraded the Java code, converted the logic of HTML templates (from thymeleaf to freemarker), and
              moved the templates to a company-controlled MessageGears server for easier maintenance and for internal email processing.
            </li>
            </div>

            <br>
            <div class="experience-title text-left">Enhanced CFA One App requests to an external API with SQS functionality</div>
            <div class="experience-box">
            <li>
              Requests made more fault tolerant by sending them to a queue service for processing. This AWS service
              has built in retry logic in case of request timeout and stores unprocessed requests in case of external server downtime.
            </li>
            </div>

            <br>
            <div class="experience-title text-left">Created scripts for updating Loyalty Program databases</div>
            <div class="experience-box">
            <li>Created a daily cron job that updated rows in the Loyalty Program for analysis purposes</li>
            <li>Created a weekly cron job that synchronized data between the Dynamo Loyalty table and a third-party database.</li>
            </div>

            <br>
            <div class="experience-title text-left">Created an automated process for the 2017 CFA One September Mobile Order Giveaway</div>
            <div class="experience-box">
            <li>
              Loaded promotional treats onto 8,000,000+ CFA One accounts in the NCR Aloha loyalty program database.
            </li>
            <li>
              AWS Lambda scripts written in python to automatically import batches and to monitor the process to prevent strain on the servers.
            </li>
            </div>
          </div>
          <div class="col-6 offset-3 text-center"><a href="resume.pdf" download><i class="far fa-file"></i> Download.</a></div>
        </div>
  <!--<div class="col-12"><br>-->
    <!--<div class="col-6 offset-3 text-center"><a href="resume.pdf" download><i class="far fa-file"></i> Download.</a></div>-->
  <!--</div>-->
  </div>
</div>
